html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Sofia Sans", sans-serif;
  color: #595958;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: #272a59;
  font-family: "Cinzel", serif;
  margin: 30px 0;
}

h2 {
  font-size: 25px;
  color: #272a59;
  margin-bottom: 30px;
  margin-top: 60px;
}

h3 {
  color: #272a59;
}

.logo {
  width: 380px;
}

/*******************************
        HEADER
*******************************/
.header {
  margin-bottom: 30px;
}

.menu {
  margin-bottom: 30px;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
.menu__item {
  color: #272a59;
  border-bottom: 1px solid #272a59;
}
.menu__link {
  display: block;
  text-decoration: none;
  padding: 30px;
  color: #272a59;
}
.menu__link:hover {
  background-color: #f2dfbb;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
.menu__toggler {
  cursor: pointer;
  color: #272a59;
  font-size: 17px;
  border: 1px solid #f2dfbb;
  background-color: #f2dfbb;
  padding: 10px;
}

/***************************
        UVOD
****************************/
.main_image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid__textL {
  padding-left: 30px;
  padding-right: 30px;
}

.grid__textR {
  padding-left: 30px;
  padding-right: 30px;
}

.main__gallery {
  margin-top: 30px;
}

.gallery__item {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 500px;
  display: none;
}

.gallery__item:nth-child(3) {
  display: block;
}

/*******************************
     BIOLOGIQUE RECHERCHE
*******************************/
.brh1 {
  font-size: 2em;
}

.kriteria {
  text-align: left;
}

.br_image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#vip,
#lotion {
  display: none;
}

/*******************************
        NABIDKA A CENIK
*******************************/
.treatments {
  margin: 0 30px;
  text-align: justify;
  margin: 0 auto;
  padding: 0 30px;
}
.treatments__nabidka {
  text-align: center;
}
.treatments__ritual {
  margin-bottom: 0;
  margin-top: 20px;
}
.treatments__cena {
  margin-bottom: 0;
  margin-left: 60px;
}
.treatments__table {
  display: flex;
  gap: 90px;
}
.treatments__tabletable-item {
  display: block;
}
.treatments__h2 {
  margin-bottom: 0;
}

.treatments_flex {
  display: flex;
  justify-content: space-between;
}

/*******************************
        ABOUT ME
*******************************/
.about__image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.milli {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*******************************
        KONTAKT
*******************************/
.space {
  padding-top: 15px;
}

.map {
  padding: 0;
  border-radius: 5%;
  text-shadow: 0 3px 5px #595958;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.formfield {
  margin-bottom: 15px;
}

.formfield label {
  display: block;
}

/*******************************
        FOOTER
*******************************/
.footer {
  background-color: #f2dfbb;
  margin-top: 30px;
  padding: 15px;
}
.footer__icon {
  height: 40px;
}

@media (min-width: 800px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: relative;
    padding-bottom: 120px;
  }
  .logo {
    margin-top: 0;
    margin-left: 30px;
    width: 420px;
    position: absolute;
    top: 0;
    left: -55px;
  }
  .menu {
    margin: 30px 0;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex !important;
    justify-content: space-between;
  }
  .menu__item {
    border-bottom: 0;
    border-right: 1px solid #272a59;
  }
  .menu__link {
    padding: 0 30px;
  }
  .menu__link:hover {
    border-radius: 5px;
  }
  /*******************************
        UVOD
    *******************************/
  .main__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax 1fr, 500px); /*nefunguje minmax*/
    align-items: center;
    gap: 30px;
  }
  .grid__textR,
  .grid__textL {
    text-align: left;
  }
  .grid__textL {
    text-align: left;
    padding-left: 90px;
  }
  .grid__textR {
    padding-left: 0;
  }
  #quote_img {
    grid-column: 2/span2;
    grid-row: 1;
  }
  #BR_img {
    grid-column: 1/3;
    grid-row: 2;
  }
  .gallery__item {
    display: block;
    height: 100%;
  }
  .main__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); /*nefunguje minmax*/
    gap: 5px;
  }
  /*******************************
        BIOLOGIQUE RECHERCHE
    *******************************/
  .brh1 {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax 1fr, 500px; /*nefunguje minmax*/
    align-items: center;
    gap: 30px;
  }
  #vip,
  #lotion {
    display: block;
  }
  #produkty {
    grid-column: 1/3;
    grid-row: 1;
  }
  #metodologie {
    grid-column: 2/4;
    grid-row: 1;
  }
  #csr {
    grid-column: 1/3;
    grid-row: 1;
  }
  /*******************************
        NABIDKA A CENIK
    *******************************/
  .treatments {
    padding-right: 180px;
    padding-left: 90px;
  }
  .treatments__nabidka {
    text-align: left;
  }
  /*******************************
        ABOUT ME
    *******************************/
  .about_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax 1fr, 500px;
  }
  .about__image {
    width: 400px;
    height: 400px;
  }
  .milli {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
  /*******************************
        KONTAKT
    *******************************/
  .contact_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax 1fr, 500px;
    gap: 60px;
    margin-right: 10%;
    align-items: center;
  }
  .contact_h2 {
    margin-top: 0;
  }
  .map {
    padding-top: 60px;
  }
  /*.formfield,
    .form {
        text-align: left;
        padding-left: $spacing*3;
    }*/
  /*******************************
        FOOTER
    *******************************/
  .footer {
    background-color: #f2dfbb;
  }
  .footer__flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
  .footer__icon {
    margin-left: 35%;
    margin-top: 10px;
    padding-bottom: 5px;
  }
  .footer__icon:hover {
    border-radius: 5px;
    color: #272a59;
  }
  .footer__copyright {
    margin-top: 0;
  }
}
@media (min-width: 800px) and (min-width: 1100px) {
  #lotion {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */