
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

$color-primary:#595958;
$color-headlines:#272A59;
$color-special:#F2DFBB;

$font-base:'Sofia Sans', sans-serif;
$font-headlines:'Cinzel', serif;

$spacing: 30px;


body {
    font-family: $font-base;
    color:#595958;
    font-size: 16px;
    font-weight:400;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    
}

h1 {
    color: $color-headlines;
    font-family: $font-headlines;
    margin: $spacing 0;
}


h2 {
    font-size: 20px;
    color: $color-headlines;
    margin: $spacing 0; 
}

h3 {
    color: $color-headlines;
    text-decoration: underline;
}

.logo {
    height: 200px;
    margin-top: $spacing/2;
    
}

/*******************************
        HEADER
*******************************/



.header {
    margin-bottom: $spacing;
    margin-top: 5px;                /*nefunguje*/
}


.menu {
    margin-bottom: $spacing;

    &__checkbox {
        position:absolute;
        left: -9999px;
    }
    

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
    }

    &__item {
        color: $color-headlines;
        border-bottom: 1px solid $color-headlines;
    }

    &__link {
        display: block;
        text-decoration: none;
        padding: $spacing;
        color: $color-headlines;
    }

    &__link:hover {
        background-color: $color-special;
    }

    &__checkbox:checked ~ .menu__list {
        display: block;
    }

    &__toggler {
        cursor: pointer;
        color: $color-headlines;
        font-size: 17px;
    }

}
/***************************
        UVOD
****************************/
.main_image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid__textL {
    padding-left: $spacing;
    padding-right: $spacing;
}

.grid__textR {
    padding-left: $spacing;
    padding-right: $spacing;
}

.main__gallery {
    margin-top: $spacing; 
}

.gallery__item {
    object-fit: cover;
    width: 100%;
    height: 500px;
    display:none;
}

.gallery__item:nth-child(3) {
    display:block;
}

/*******************************
     BIOLOGIQUE RECHERCHE
*******************************/
.brh1{
    font-size: 2em;
}

.kriteria {
    text-align: left;  
}

.br_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#vip,
#lotion {
    display:none;
}


/*******************************
        NABIDKA A CENIK
*******************************/

    .treatments {
        margin: 0 $spacing;
        text-align: justify;
        margin: 0 auto;
        padding: 0 $spacing;

        &__nabidka {
            text-align: center;
        }
        
        
        &__ritual {
            margin-bottom: 0;
            margin-top: 20px;
        }

        &__cena {
            margin-bottom: 0;
        }
        
        &__table {
            display: flex;
            gap: $spacing*3;

            &table-item {
                display:block;
            }
        }

        &__h2 {
            margin-bottom: 0;
        }
    }

    .treatments_flex {
        display:flex;
        justify-content: space-between; 
         
    }
    

/*******************************
        ABOUT ME
*******************************/
.milli {
    object-fit: cover;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: 0 auto;
}


/*******************************
        KONTAKT
*******************************/
.space {
    padding-top: $spacing/2;
}

.map {
	padding: 0;
    border-radius: 5%;
    text-shadow: 0 3px 5px $color-primary;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.formfield {
    margin-bottom: $spacing/2;
}

.formfield label{
    display:block;
}


/*******************************
        FOOTER
*******************************/

.footer {
    background-color: $color-special;
    margin-top: $spacing;
    padding: $spacing/2;

    &__icon {
        height: 40px;
    }

}


@media (min-width:800px) {

    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing;
    }

    .logo {
        margin-top: 0;
        margin-left: $spacing;
    }

    .menu {
        margin: $spacing 0;

        &__toggler {
            display: none;
        }
    
        &__list {
            display: flex !important;
            justify-content: space-between;
        }

        &__item {
            border-bottom: 0;
            border-right: 1px solid $color-headlines;
        }
    
        &__link {
            padding: 0 $spacing;
        }
    
        &__link:hover {
            border-radius: 5px;
        }
    }
    
    /*******************************
        UVOD
    *******************************/

    .main__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax (1fr, 500px));      /*nefunguje minmax*/
        align-items: center;
        gap: $spacing;
    }

    .grid__textR,
    .grid__textL  {
        text-align: left;
    }

    .grid__textL  {
        text-align: left;
        padding-left: $spacing*3;
    }

    .grid__textR {
        padding-left: 0; 
    }

    #quote_img {
        grid-column: 2/span2;
        grid-row: 1;
    }

    #BR_img {
        grid-column: 1/3;
        grid-row: 2;
    }
    
    .gallery__item {
        display: block;
        height:100%;
    }

    .main__gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);             /*nefunguje minmax*/
        gap: 5px;  
    }

    /*******************************
        BIOLOGIQUE RECHERCHE
    *******************************/

    .brh1 {
        text-align: left;
        margin-bottom: 0;
        margin-top: 0;
    }

    .section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax (1fr, 500px);        /*nefunguje minmax*/
        align-items: center;
        gap: $spacing;
    }

    #vip,
    #lotion {
        display: block;
    }


    #produkty {
        grid-column: 1/3;
        grid-row: 1;
    }

    #metodologie {
        grid-column: 2/4;
        grid-row: 1;
    }

    #csr {
        grid-column: 1/3;
        grid-row: 1;
    }

    /*******************************
        NABIDKA A CENIK
    *******************************/

    .treatments {
        padding-right: $spacing*6;
        padding-left: $spacing*3;

        &__nabidka {
            text-align: left;
        }
    }


    /*******************************
        ABOUT ME
    *******************************/

    .about_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax (1fr, 500px);  
    }

    .milli {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0;
    }

    /*******************************
        KONTAKT
    *******************************/
    .contact_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax (1fr, 500px);  
        gap: $spacing*2;
        margin-right: 10%;
        align-items: center;
    }

    .contact_h2{
        margin-top: 0;
    }
    
    .map {
        padding-top: 60px;
    }

    /*.formfield,
    .form {
        text-align: left;
        padding-left: $spacing*3;
    }*/
    
    /*******************************
        FOOTER
    *******************************/

    .footer {
        background-color: $color-special;
        

        &__flexbox{
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: left;
        }

        &__icon {
            margin-left: 35%;
            margin-top: $spacing/3;                 /*nefunguje posunutí nahoru kvůli odkazu, musela jsem ikonu zmensit paddingem*/
            padding-bottom: 5px;

        }

        &__icon:hover {
            border-radius: 5px;
            color: #272A59;
        }

        &__copyright {
            margin-top: 0;
        }

    }
    
    @media (min-width:1100px) {
        #lotion {
            display:none;
        }
    }    

}