<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de Milli</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--pismo-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Sofia+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper"> 

		<header class="header">
			<div class="header__logo">
                <a href="/" class="logo__link"><img class="logo" src="/images/logo-milli.jpeg" alt="BR logo"></a>
            </div>

		
			<nav class="menu">
                <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
                <label for="menu-checkbox" class="menu__toggler">Menu Ξ</label>
                <ul class="menu__list">
                    <li class="menu__item"><a href="/biologique-recherche/" class="menu__link">Biologique Recherche</a></li>
                    <li class="menu__item"><a href="/nabidka/" class="menu__link">Nabídka ošetření a ceník</a></li>
                    <li class="menu__item"><a href="/o-mne/" class="menu__link">O mně</a></li>
                    <li class="menu__item"><a href="/contact/" class="menu__link">Kontakt</a></li>
                </ul>
			</nav>
		</header>

        <main class="main">
            {{ content | safe }}
        </main>
        

        <footer class="footer">
            <div class="footer__flexbox">
                <div class="footer__address">
                    <p>T.G.Masaryka 1412/6</p>
                    <p>Poděbrady</p> 
                </div>
            <!--
                <div class="footer__logo">
                    <p>Création de Milli</p> 
                </div>
            -->
                <div class="footer__contact">
                    <p> Telefon: (+420) 734 482 845 </p>
                    <p> E-mail: <a href="mailto:creationdemilli@gmail.com">creationdemilli@gmail.com</a>
                    </p>
                </div>

                <div class="footer__icons">
                     <a href="https://www.facebook.com/profile.php?id=100090302157307" target ="blank"><img class="footer__icon" src="/images/facebook.svg" alt="facebook"></a>
                     <p class="footer__copyright"> © 2023, Création de Milli</p>
                </div>
            </div>
        </footer>

    </div><!-- .wrapper -->
</body>
</html>
